DATABASE_URL="<YOUR_DATABASE_URL>"
GOOGLE_GENERATIVE_AI_API_KEY="<YOUR_GOOGLE_GENERATIVE_AI_API_KEY>"
OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"
ANTHROPIC_API_KEY="<YOYR_ANTHROPIC_API_KEY>"

NEXTAUTH_URL="<YOUR_NEXTAUTH_URL>"
NEXTAUTH_SECRET="<YOUR_NEXTAUTH_SECRET>"

GOOGLE_CLIENT_ID="<YOUR_GOOGLE_CLIENT_ID>"
GOOGLE_CLIENT_SECRET="<YOUR_GOOGLE_CLIENT_SECRET>"

NEXT_PUBLIC_SUPABASE_URL="<YOUR_NEXT_PUBLIC_SUPABASE_URL>"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<YOUR_NEXT_PUBLIC_SUPABASE_ANON_KEY>"
SUPABASE_SERVICE_ROLE_KEY="<YOUR_SUPABASE_SERVICE_ROLE_KEY>"

AUTHORIZED_DOMAIN="<DEPLOYED_DOMAIN>"

POSTGRES_USER="<POSTGRES_USER>"
POSTGRES_PASSWORD="<POSTGRES_PASSWORD>"
POSTGRES_DB="chatin"

PGADMIN_DEFAULT_EMAIL="<PGADMIN_EMAIL>"
PGADMIN_DEFAULT_PASSWORD="<PGADMIN_PASSWORD>"
